<!DOCTYPE html>
<html>
<head>
  <title>AccountLayer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%> 

  <div id="user-nav">
    <% if current_admin %>
      Welcome <%= current_admin.name %>!
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      <%= link_to "Sign in", "/auth/google_apps_oauth2" %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
